body {
    font-family: "Courier New", monospace;
    background-color: #000;
    color: #00ff9f;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0a0a0a;
    border-radius: 10px;
    border: 1px solid #00ff9f;
    box-shadow: 0 0 15px #00ff9f;
}

/* Títulos */
h1, h2 {
    text-align: center;
    color: #00ff9f;
    text-shadow: 0 0 5px #00ff9f;
}

/* Labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #00ff9f;
    background-color: #000;
    color: #00ff9f;
    box-sizing: border-box;
}

/* Texto */
p {
    margin-top: 10px;
}

span {
    font-weight: bold;
    color: #00ff9f;
}

/* Botones */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    border: 1px solid #00ff9f;
    border-radius: 5px;
    background-color: black;
    color: #00ff9f;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Efecto hover hacker */
button:hover {
    background-color: #00ff9f;
    color: black;
    box-shadow: 0 0 10px #00ff9f, 0 0 20px #00ff9f;
}